{{filepath}}
<a id="desc-product-export" class="list-toolbar-btn" href="{{ filepath }}" download>
  <b data-toggle="pstooltip" class="label-tooltip" data-original-title="{{ "Export XML"|trans({}, 'Module.MyModule') }}" data-html="true" data-placement="top">
    <i class="material-icons">cloud_upload</i>
  </b>
</a>